
html, body {
    font-family: 'Readex Pro', sans-serif;
}

.section{
    padding: 5rem 0;
}

a{
    text-decoration: none;
}
   
.header_top{
    background-color: #fff;
    border: 1px solid #000;
}

.logo {
    font-size: 30px;
}

.nav_styles a{
    transition: all 0.25s ease-in-out;
}

.nav_styles .navbar-brand p:first-child{
    font-size: 36px;
    font-weight: bold;
}

.nav_styles .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}

.nav_styles .navbar-brand p:last-child{
    font-size: 11px;
    letter-spacing: 3px;
    color: blue;
    font-weight: bold;
}

.nav_transition{
    transition: all 0.75s ease-in-out;
}

#navbar_bossedu .nav-item {
    margin: 0px 15px;
}

#navbar_bossedu .nav-item::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: blue;
    display: inline-block;
    /* margin-bottom: 14px; */
    transition: all 0.5s;
}

#navbar_bossedu .nav-item:hover::after{
    width: 100%;
}

#navbar_bossedu .nav-link{
    letter-spacing: 1px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

#navbar_bossedu .nav-item:hover .nav-link{
    color: blue;
}

#navbar_bossedu .nav-item.active .nav-link{
    color: blue;
}

#navbar_bossedu .nav-item.active::after{
    width: 100%;
}

#navbar_bossedu .dropdown-menu{
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
}

.dropdown-item{
    color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
    color: cyan;
}

/* CAROUSEL CSS */
.img_styles{
    height: 600px;
    filter:brightness(50%);
}

#carouselBossEdu .carousel-caption{
    /* kỹ thuật căn giữa chỉ áp dụng với thẻ cha có position: absolute; */
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#carouselBossEdu .carousel-caption h5{
    font-size: 52px;
    letter-spacing: 2px;
    color: #fff;
}

#carouselBossEdu .carousel-caption p{
    letter-spacing: 2px;
    line-height: 1.8rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 20px;
    color: #fff;
}

#carouselBossEdu .carousel-caption button{
    background-color: transparent;
    padding: 11px 20px;
    color: #fff;
    transition: all 0.5s;
    letter-spacing: 2px;
    font-size: 14px;
    border: 1px solid #fff;
}

#carouselBossEdu .carousel-caption button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
 
/* WELCOME CSS */
.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2{
    font-size: 40px;
    color: blue;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.heading p{
    font-size: 17px;
    letter-spacing: 3px;
}

.heading p::after{
    content:'';
    width: 70px;
    height: 4px;
    background-color: blue;
    display: block;
    margin: 20px auto;
}

.welcome_content p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #999;
    line-height: 1.8em;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}

.grid_item i{
    font-size: 2rem;
}

.grid_item h3{
    font-size: 1.8rem;
    font-weight: bold;
    color: blue;
    margin: 1rem 0;
}

.grid_item h4{
    font-size: 16px;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}

.grid_item p{
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 10px 0 0;
}

.grid_collum{
    padding: 2rem;
}

/* Achievements CSS */
.achievements_bossedu{
    background-image: url(../images/hanoi.png);
    background-attachment: fixed;
    filter:brightness(85%); 
    background-size: cover;

}
.heading_text h2, p{
    color: #000;
}
.achievements_content{
    text-align: center;
}

.content_items i{
    font-size: 3rem;
    color: #000;
}

.content_items h3{
    font-size: 20px;
    letter-spacing: 3px;
    margin: 30px 0 20px;
    color: #fff;
    font-weight: bold;
}

.content_items p{
    color: #fff;
    font-weight: 500px;
    font-size: 3rem;
    letter-spacing: 2px;
}

/* BENEFIT CSS */
.benefit_col{
    padding: 15px;
}

.benefit_items{
    background-color: #fff;
    box-shadow: 0px 1px 8px 0px rgba(158,158,158,0.75);
    padding: 25px 40px;
    transition: all 0.5s;
    text-align: center;
    border-radius: 5px;
}

.benefit_items i{
    font-size: 40px;
    color: blue;
}

.benefit_items h3{
    margin: 25px 0 20px;
    font-size: 25px;
}

.benefit_items p{
    color: #999;
    letter-spacing: 1px;
}

.benefit_items:hover{
    background-color: aquamarine;
    cursor: pointer;
}